[Unit]
Description=turbobrain.me website
After=network.target

[Service]
User=shishpi
WorkingDirectory=/home/shishpi/turbobrain.me
ExecStart=/home/shishpi/turbobrain.me/start.sh
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
